.not-displayed {
    display: none;
}

form {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}


#mensaButton {
    font-size: 32px;
}

#lsfButton {
    font-size: 32px;
}


#weatherButton {
    font-size: 32px;
}

#otherDaysButton {
    font-size: 32px;
}


#title {
    font-size: 16px;
}

#summary {
    font-size: 35px;
}

    #summary img {
        float: right;
    }

#error-msg {
    text-align: center;
    margin-top: 50%;
    font-weight: bold;
}

#logoimage {
    text-align: center;
    margin: 1em;
    content: url("../images/Logo_der_Hochschule_Worms.png");
}

.md-hamb {
    display: inline-block;
}


/* Arrow only buttons in the header. */
#demo-page .ui-header .ui-btn {
    background: none;
    border: none;
    top: 9px;
}

#demo-page .ui-header .ui-btn-inner {
    border: none;
}
/* Content styling. */
dl {
    font-family: "Times New Roman", Times, serif;
    padding: 1em;
}

dt {
    font-size: 2em;
    font-weight: bold;
}

    dt span {
        font-size: .5em;
        color: #777;
        margin-left: .5em;
    }

dd {
    font-size: 1.25em;
    margin: 1em 0 0;
    padding-bottom: 1em;
    border-bottom: 1px solid #eee;
}

.back-btn {
    float: right;
    margin: 0 2em 1em 0;
}
