
.btnBorder {
    border: 3px solid white !important;
    background-color: #032261 !important;
    color: white !important;
}

.btnBorder:hover {
        background-color: #06588d !important;
}

#title {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}

#backbtn {
    display: inline-block;
}

.headerBackBtn {
    background-color: #f5f5f5;
}

#container{
    margin-top:10px;
}

